<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>RedirectPortal</display-name>

	<filter>
		<filter-name>redirectFilter</filter-name>
		<filter-class>com.ailk.sets.RedirectFilter</filter-class>
		<init-param>
			<!-- 1:跳转 0：不跳转 -->
			<param-name>redirect</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>localUrl</param-name>
			<param-value>page/maintenance.html</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPages</param-name>
			<param-value>bootstrap,font-awesome</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>redirectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>com.ailk.sets.RedirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	 -->
</web-app>
